# ======================
# Data (VERY IMPORTANT)
# ======================
data/
*.csv
*.tsv
*.gz

# ======================
# Models
# ======================
*.pkl
*.joblib

# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# PyCharm
# ======================
.idea/

# ======================
# OS
# ======================
.DS_Store